.small12 {
    font-size: 12px;
}

.small14 {
    font-size: 12px;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.fw200 {
    font-weight: 200;
}

.fw300 {
    font-weight: 300;
}

.fz28 {
    font-size: 28px;
}
