.white {
    color: $color-white;
}

.black {
    color: $color-black;
}

.red {
    color: $color-alt;
}

.green {
    color: $color-green;
}

.bg-green {
    background-color: $color-green;
}

.bg-red {
    background-color: $color-alt;
}
