.card {
    background-color: $color-body;
    box-shadow: 0 8px 24px 0 rgba(0,0,0,.5);
}
.card-min {
    height: 150px;
    width: 280px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    &:hover {
        font-weight: 500;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
    }
}
